* {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    ;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". . ."
    ". qrbox ."
    "footer footer footer";
}

.qr-box {
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    grid-area: qrbox;
}

.qr-code {
    width: 250px;
    border-radius: 15px;
    height: auto;
}

h3 {
    font: hsl(218, 44%, 22%);
    background-color: hsl(0, 0%, 100%);
    font-weight: 700;
} 

p {
    background-color: hsl(0, 0%, 100%);
    font-weight: 400;
}

footer {
    grid-area: footer;
}

/* ## Layout <<<<<<<<<<<<<

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors <<<<<<<<<<<<<

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy <<<<<<<<<<<<<

- Font size (paragraph): 15px

### Font <<<<<<<<<<<<<

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */